body {
  margin-left: 10vw;
  margin-right: 10vw;
}

.title {
  justify-content: center;
  display: flex;
}

.button-home {
  margin-left: 2vw;
  margin-top: 1vh;
}

.ctn-header {
  background-color: #FFF;
  height: 12vh;
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  box-sizing: border-box;
}

.ctn-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.ctn-graphic {
  background-color: #FFF;
  position: relative;

  margin-top: 3vh;
  margin-right: 1vw;
}

.ctn-form {
  background-color: #FFF;
  margin-top: 3vh;
  padding: 14px;
  box-sizing: border-box;
}

.title-form {
  margin-top: 2vh;
}

.ctn-calculate {
  display: flex;
  justify-content: space-between;
}

.button-calculate {
  width: 100%;
  margin-bottom: 5px;
}

.header-values {
  display: flex;
  justify-content: center;
}

@media (max-width: 1558px) {
  body {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .ctn-graphic {
    width: 800px;
  }

}

@media (max-width: 1383px) {
  .ctn-graphic {
    width: 700px;
  }
}

@media (max-width: 1271px) {
  .ctn-graphic {
    width: 600px;
  }
}

@media (max-width: 1161px) {
  .ctn-graphic {
    width: 550px;
  }
}

@media (max-width: 1103px) {
  .ctn-graphic {
    width: 500px;
  }
}

@media (max-width: 1049px) {
  .ctn-section {
    display: flow-root;
  }

  .ctn-graphic {
    width: 100%
  }

  .ctn-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media (max-width: 949px) {
  .ctn-form {
    display: inline-grid;
    width: 100%;
    margin-bottom: 5vh;
  }
}

@media (max-width: 682px) {
  .ctn-header {
    height: 16vh;
  }
}

@media (max-width: 473px) {
  .ctn-calculate {
    display: grid;
    justify-content: center;
  }
}

@media (max-width: 380px) {
  .ctn-header {
    height: 20vh;
    padding: 2px;
  }
}

/* .ctn-graphic {
  margin-right: 0;
  display: flex;
  justify-content: center;
}

.canvas {
  width: 80vw;

}

.ctn-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
} */
