<button
class="button-home"
mat-mini-fab
color="primary"
aria-label="Example icon button with a menu icon"
(click)="onClickHome()"
matTooltip="Voltar para Home"
>
<mat-icon>arrow_back</mat-icon>
</button>
<body>
  <h1 class="title">Estatísticas</h1>
  <header class="ctn-header">
    <div>
      <h4 style="color: #00532b; display: flex;">R$: {{ resultVendasUltimosSeteDias$ }}
        <mat-icon>trending_up</mat-icon>
      </h4>
      <p style="color: #ABABAB">vendas nos últimos 7 dias</p>
    </div>
    <div>
      <h4 style="color: #A630C3; display: flex;">R$: {{ resultVendasUltimosTrintaDias$ }}
        <mat-icon>trending_up</mat-icon>
      </h4>
      <p style="color: #ABABAB">vendas nos últimos 30 dias</p>
    </div>
    <div>
      <h4 style="color: #27A7EF; display: flex;">R$: {{ resultMediaDiariaMesAnterior$ }}
        <mat-icon>trending_up</mat-icon>
      </h4>
      <p style="color: #ABABAB">média de vendas diárias no último mês</p>
    </div>
  </header>

  <section class="ctn-section">
    <div class="ctn-graphic">
      <app-dashboard class="canvas"
      [dados]="chart()"
      ></app-dashboard>
    </div>
    <div class="ctn-form">
      <form [formGroup]="mediaForm" (ngSubmit)="onSubmitMediaMes()" class="form">
        <h3 class="title-form">Pesquisar média de lucros</h3>
        <div class="ctn-calculate">
          <mat-form-field appearance="outline" style="margin-right: 3px">
            <mat-label>Mês da media</mat-label>
            <input matInput formControlName="mes" type="number" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Ano da média</mat-label>
            <input matInput formControlName="ano" type="number" />
          </mat-form-field>
        </div>
        <p *ngIf="findMediaLucroMes$ !null" style="color: #020500;">Valor da média de lucros R$: {{ findMediaLucroMes$ }}</p>
        <button mat-raised-button color="primary" class="button-calculate">
          <mat-icon>search</mat-icon>
        </button>
      </form>
      <form [formGroup]="somaLucroMesForm" (ngSubmit)="onSubmitSomaLucroMes()" class="form">
        <h3 class="title-form">Pesquisar total de lucros</h3>
        <div class="ctn-calculate">
          <mat-form-field appearance="outline" style="margin-right: 3px">
            <mat-label>Mês da soma</mat-label>
            <input matInput formControlName="mes" type="number" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Ano da soma</mat-label>
            <input matInput formControlName="ano" type="number" />
          </mat-form-field>
        </div>
        <p *ngIf="findSomaLucroMes$ !null" style="color: #020500;">Valor de lucros R$: {{ findSomaLucroMes$ }}</p>
        <button mat-raised-button color="primary" class="button-calculate">
          <mat-icon>search</mat-icon>
        </button>

      </form>
    </div>
  </section>
</body>
