<mat-toolbar style="background-color: #9ae5a4">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    mat-button
    (click)="drawer.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Hortifruti</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    style="justify-content: space-between"
    class="example-icon d-flex"
    aria-label="Example icon-button with share icon"
    matTooltip="Sair"
  >
    <mat-icon  (click)="logout()" >logout</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <button
    mat-button
    style="align-items: center; display: flex"
    routerLink="/fazer-pedido"
    >
      <mat-icon class="icon-sidebar">request_quote</mat-icon> Fazer Pedido
    </button>
    <button
      mat-button
      routerLink="/valor-do-dia"
      style="align-items: center; display: flex"
    >
      <mat-icon class="icon-sidebar">attach_money</mat-icon>Valor do Dia
    </button>
    <button
    mat-button
    style="align-items: center; display: flex"
    routerLink="lista-de-lucros"
    >
      <mat-icon class="icon-sidebar"
      >receipt_long</mat-icon>Lista de Faturamnetos
    </button>
    <button mat-button style="align-items: center; display: flex" routerLink="estatisticas">
      <mat-icon class="icon-sidebar">leaderboard</mat-icon>Estatísticas
    </button>
    <button
      mat-button
      routerLink="/funcionarios"
      style="align-items: center; display: flex"
    >
      <mat-icon class="icon-sidebar">group_add</mat-icon>Cadastrar Funcionario
    </button>
  </mat-drawer>
  <section>
    <mat-grid-list cols="1" rowHeight="3:1.4">
      <mat-grid-tile><img class="img" src="assets/img/fundoHome.png" alt="foto hortifruti"></mat-grid-tile>
    </mat-grid-list>
  </section>
</mat-drawer-container>


