table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

.title {
  margin-top: 10px;
}

.container-title {
  display: flex;
  justify-content: center;
}
.container {
  margin: 5vh;
}

