table {
  width: 100%;
}

.container {
  background-color: #fff;
  margin-left: 10vw;
  margin-right: 10vw;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.title {
  margin-top: 10px;
}

.container-title {
  display: flex;
  justify-content: center;
}
.ctn-button-add {
  display: flex;
  margin-top: 2vh;
  justify-content: end;
}

.button-home {
  margin-left: 2vw;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.button-add {
  position: fixed;
  margin-top: 2vh;
}

tr.mat-row:hover {
  background-color: #dfdede;
}

@media (max-width: 1113px) {
  .example-container {
    min-height: 300px;
    max-width: 100%;
    overflow: auto;
  }
  .container {
    margin-left: 1vw;
    margin-right: 1vw;
  }
}
