.text {
  display: flex;
  justify-content: center;
}
.form {
  width: 25vw;
  display: grid;
}

.ctn-button {
  justify-content: space-between;
}

@media screen and (max-width: 1072px) {
  .form {
    width: 70vw;
  }
}
