table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.button-home {
  margin-left: 2vw;
  margin-top: 1vh;
}

.title {
  margin-top: 10px;
}

.container-title {
  display: flex;
  justify-content: center;
}
