.card {
  width: 400px;
}
.text {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.button {
  width: 100%;
  margin-bottom: 3vh;
  margin-top: 3vh;
}

.mostrarLucro {
  display: flex;
  justify-contente: space-around;
}

.button-home {
  margin-left: 2vw;
  margin-top: 1vh;
}
