body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

.table {
  width: 80vw;
}

.title {
  text-align: center;
  color: #140101;
  text-shadow: 0px 4px 4px rgba(247, 132, 0, 0.19);
}

.ctn-buttonAdd {
  display: flex;
  justify-content: end;
  margin-bottom: 0.6vh;
}

.mat-fab:not([class*="mat-elevation-z"]),
.mat-mini-fab:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

.mat-header-cell {
  color: #fff;
  font-size: 14px;
  padding: 2px;
}

.container {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 3vh;
}

.button-home {
  margin-left: 2vw;
  margin-top: 1vh;
}

.btn-confirm {
  display: flex;
  justify-content: flex-end;
  margin-top: 2vh;
}

tbody  {
  height: 60px;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 384px;
}

@media screen and (max-width: 1072px) {
  .container {
    margin-left: 1vw;
    margin-right: 1vw;
  }
  .table {
    width: 98vw;
  }
  .btn-confirm {
    margin-top: 1vh;
  }
}
